body {
   background-color: #FBFBFB;
}
.wrapper {
	position:relative;
}
#iframe-body {
    overflow: hidden;
    left: 16.666%;
    padding-bottom: 50px;
}
.right-contianer {
	position: absolute;
    top: 0px;
    left: 220px;
    right: 0px;
    bottom: 0px;
}

div.media-tags {

}
.media-content {

}

div.media-tags .tags-box a {
    display: inline-block;
    
    margin: 0 6px 6px 0;
    padding: 0 10px;
    
    height: 24px;
    border-radius: 3px;
    background: #8BC1DC;
    color: #fff;

    line-height: 24px;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}